<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="productName">Name :</label>
                <input type="text" class="form-control" id="productName"
                       th:value="${product.getName()}">
                <input type="hidden" id="productId"
                       th:value="${product.getId()}">
            </div>
            <div class="form-group">
                <label for="productDescription">Description :</label>
                <input type="text" class="form-control" id="productDescription"
                       th:value="${product.getDescription()}">
            </div>
            <div class="form-group">
                <label for="productPrice">Price :</label>
                <input type="number" class="form-control" id="productPrice"
                       th:value="${product.getPrice()}">
            </div>
            <div class="form-group">
                <label for="productStar">Star :</label>
                <input type="number" class="form-control" id="productStar"
                       th:value="${product.getStar()}">
            </div>
            <div>
                <label for="productImage">Image :</label>
                <input type="file" name="file" class="form-control" id="productImage" aria-describedby="emailHelp">
            </div>
            <div>
                <img width="200" height="200" id="imageProduct"th:src="@{${product.getImage()}}" alt="">
            </div>
            <center>
                <a th:href="@{/home}" class="btn btn-primary">Trang chủ</a>
                <a id="editProduct" class="btn btn-success">Sửa</a>
            </center>
        </div>

    </div>
</div>

<script th:inline="javascript">

    $(document).ready(function() {
        $("#productImage").on("change", function () {
            var formData = new FormData();
            formData.append('file', $('#productImage')[0].files[0]);

            $.ajax({
                url: 'http://localhost:8080/upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    $("#imageProduct").attr("src", data);
                    toastr.success('Upload ảnh thành công ', 'Haha!');
                },
                error: function () {
                    toastr.error('có lỗi xảy ra . Xin vui lòng thử lại', 'Inconceivable!');
                }
            })
        });

        $("#editProduct").on('click', function () {
            var product = {
                name:$("#productName").val().trim(),
                description:$("#productDescription").val().trim(),
                price: $("#productPrice").val(),
                star: $("#productStar").val(),
                image: $("#imageProduct").attr('src'),
            };
            var productId = $('#productId').val();
            console.log(product);
            $.ajax({
                url: 'http://localhost:8080/edit/' + productId,
                type: "PUT",
                data: JSON.stringify(product),
                processData: false,
                contentType: 'application/json',
                success: function (data) {
                    if (data == 0) {
                        toastr.success('Upload product thành công ', 'Haha!');
                    }
                    if (data == 4) {
                        toastr.error('có lỗi xảy ra . Xin vui lòng thử lại', 'Inconceivable!');
                    }
                },
                error: function (error) {
                    alert("Lỗi hệ thống vui lòng quay lại sau");
                }
            });
        });
    });
</script>
</body>
</html>